@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
} /* does not work */

/* .btn {
  @apply btn btn-sm bg-accent-focus marg;
} */
/* @layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
} */
.search {
  display: flex;
  align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;

}

.search input {
  border: none;
  background-color: gainsboro;
}

.search input:focus {
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight:bold;
}

.list-note {
  background-color:gold;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;

}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.list-of-lists {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}